body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.67px;
}
bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14.67px;
}
italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.67px;
}
<!--Tinos Heading Formatting-->
h1 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}
h2 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22.67px;
}
h3 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18.67px;
}
h4 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
h5 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14.67px;
}
h6 {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 14.67px;
}